
$brilliant-blue: #29313F;
$side-panel-green: #6F7871;

//@at-root
$main : rgb(72, 74, 78);
$body : rgb(41, 49, 63);
$panel-tag : $main; //#6F7871
$selected : $main;
$hover : rgb(78, 94, 122);
$side-panel: rgb(103, 106, 111);

.grid-container {
    color:white;
}

.grid-container .nav {
    background-color: $brilliant-blue;
}

.nav-btn {
}

.nav-btn:hover {
    background-color: $selected;
}

.nav-btn > img {

}

.grid-container .main-container {
    background-color: $main;
    color:white;
}

.heading {
    color:white;
}

.messageDiv {
    color: $selected;
}
.buttons {
    // background-color: $body;
    color:white;
}

.buttons > div {
    background-color: $body;
}

.buttons > div:hover {
   background-color: $hover;
}

.button {
    background-color: $body;
}

.button:hover {
    background-color: $body;
}

.entry-title {
    background-color: $body;
}

.entry-body {
    background-color: $body;
}

.entry-tags {
    background-color: $body;
}
.entry-tags > div {
    background-color: $panel-tag;
}

.side-panel {
    background-color: $side-panel-green;
}

.side-panel .tags {

}

.side-panel .tags > div{
    background-color: $panel-tag;
}
.side-panel .tags > div.selected {
    background-color: $selected;
}
.side-panel .entries {
    background-color: $selected;
}

.side-panel .entries > div {
    background-color: $panel-tag;
}

.editable {
}

.editable:empty:before {
    color: rgb(109, 109, 109);
}

.side-panel .active.tag {
    background-color: $selected;
}

//loader from w3Schools tutorial - https://www.w3schools.com/howto/howto_css_loader.asp
.loader {
    border-color:#f3f3f3;
    border-top-color: #3498db;
    border-bottom-color: #3498db;
}

.edit-tags {
    background-color: $body;
}
.edit-tags > th{
}

.edit-tags > table{
}

.edit-tags-popup {
    background-color: $side-panel;
}

.edit-tags-popup > * {
    background-color: $side-panel;
}

.edit-tags-popup .button {
    background-color: rgb(224, 206, 102);
}

.edit-tags-popup .button:hover {
    background-color: $selected;
}

.grid-container .main-container-blur  {
    background-color: $main;
}
//blur everything in .main-container-blur except edit-tags-popup
.grid-container .main-container-blur > *:not(.edit-tags-popup, .password-dialog) {
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

//popup table close btn
.close-btn {
    color: white;
    background-color: rgb(219, 107, 107);
}

.close-btn:hover{
    background-color: rgb(226, 57, 57);
}


.table-row {
}

//table cells
.table-row > td {
}

.tag-searchbar {
    background-color: black;
    color:white;
}

.password-dialog {
    background-color: $side-panel;
}

.password {
    background-color: $body;
}

.btn-login {
    background-color: $body;
}

.btn-login:hover {
    background-color: $hover;
}