
$brilliant-blue: #135e7c;
$minty-green:#3c9e85;
$lemony-yellow: #fff56b;
$nav-width: 20%;
$light-grey: #c9c3c3;
$royalRed: #812323;
$bg: rgb(230, 230, 230);


body, html {
    height: 90%;
}
.bg-grey {
    background-color: $bg;
}
.full{
    height: 100%;
}
// Navigation pane
.navigation {
    position: relative;
    float: left;
    padding-top: 16px;
    margin:0;
    height: 100%;
    display: block;
    background-color: $bg;
    overflow: auto;
    cursor: pointer;
}
.nav1 {
    width: 10%;
    min-width: 110px;
}
.nav2 {
    width: 20%;
    min-width: 210px;
}


//Links
.links div {
    position:relative;
    display: block;
    color: $brilliant-blue;
    padding: 16px;
    text-decoration: none;
}

// Active Link
.links div.active {
    background-color: $lemony-yellow;
    color: $minty-green;
}

// Links on hover (except active)
.links div:hover:not(.active) {
    background-color: $light-grey;
    color: white;
}
