$light-limey-green: rgb(190, 202, 192);
$side-panel-gray: #6F7871;

//@at-root
$main : rgb(72, 74, 78);
$body : rgb(190, 202, 192);//also used for buttons
$panel-tag : rgb(243, 236, 211); //#6F7871
$selected : $main;//used for nav hover
$hover : rgb(135, 170, 140);;//must not be body color
$side-panel : rgb(111, 115, 120);
$before-text-color: rgb(109, 109, 109);
.grid-container {

}

.grid-container .nav {
    background-color: $light-limey-green;
    color:black;
}

.nav-btn {
    color:black;
}

.nav-btn:hover {
    background-color: $selected;
}

.nav-btn > img {

}

.grid-container .main-container {
    grid-column: 2;
    background-color: $main;
    color: $before-text-color;
}

.heading {
    color:white;
}

.messageDiv {
    color: $selected;
}
.buttons {
    // background-color: $body;
}

.buttons > div {
    background-color: $body;
}

.buttons > div:hover {
   background-color: $hover;
}

.button {
    background-color: $body;
}

.button:hover {
    background-color: $hover;
}

.entry-title {
    background-color: $body;
}

.entry-body {
    background-color: $body;
}

.entry-tags {
    background-color: $body;
}
.entry-tags > div {
    background-color: $panel-tag;
    color: $main;
}

.side-panel {
    background-color: $side-panel-gray;
}

.side-panel .tags {

}

.side-panel .tags > div{
    background-color: $panel-tag;
    color: $main;
}
.side-panel .tags > div.selected {
    background-color: $selected;
}
.side-panel .entries {
    background-color: $selected;
}

.side-panel .entries > div {
    background-color: $panel-tag;
    color: $main;
}

.editable {
}

.editable:empty:before {
    color: rgb(109, 109, 109);
}

.side-panel .active.tag {
    background-color: $selected;
    color:white;
}

//loader from w3Schools tutorial - https://www.w3schools.com/howto/howto_css_loader.asp
.loader {
    border-color: #f3f3f3;
    border-top-color:#3498db;
    border-bottom-color:#3498db;
}
.edit-tags {
    background-color: $body;
}
.edit-tags > th{

}

.edit-tags > table{

}

.edit-tags-popup {
    background-color: $side-panel;
}

.edit-tags-popup > * {
    background-color: $side-panel;
}

.edit-tags-popup .button {
    background-color: rgb(224, 206, 102);
}

.edit-tags-popup .button:hover {
    background-color: $selected;
}

.grid-container .main-container-blur  {
    background-color: $main;
}
//blur everything in .main-container-blur except edit-tags-popup
.grid-container .main-container-blur > *:not(.edit-tags-popup, .password-dialog) {
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

//popup table close btn
.close-btn {
    color: white;
    background-color: rgb(219, 107, 107);
}

.close-btn:hover{
    background-color: rgb(226, 57, 57);
}


.table-row {
}

//table cells
.table-row > td {
 
}

.tag-searchbar {
    background-color: white;
    color:black;
}

.dialog {
    background-color: $side-panel;
}

.email {
    background-color: $body;
}

.password {
    background-color: $body;
}

.btn-login {
    background-color: $body;
}

.btn-login:hover {
    background-color: $hover;
}