
$brilliant-blue: #29313F;
$side-panel-green: #6F7871;

//@at-root
$main : rgb(243, 236, 211);
$body : rgb(226, 215, 173);
$panel-tag : $main; //#6F7871
$selected : rgb(129, 155, 204);
$hover : rgb(140, 161, 216);
$side-panel: rgb(113, 120, 113);
$before-text-color: rgb(109, 109, 109);

// Only colours

.grid-container .nav {
    background-color: $brilliant-blue;
}

.nav-btn:hover {
    background-color: $selected;
}


.grid-container .main-container {
    background-color: $main;
}

.messageDiv {
    color: $selected;
}

.buttons > div {
    background-color: $body;
}

.buttons > div:hover {
   background-color: $hover;
}

.button {
    background-color: $body;
}

.button:hover {
    background-color: $hover;
}

.entry-title {
    background-color: $body;
}

.entry-body {
    background-color: $body;
}

.entry-tags {
    background-color: $body;
}
.entry-tags > div {
    background-color: $panel-tag;
}

.side-panel {
    background-color: $side-panel-green;
}

.side-panel .tags > div{
    background-color: $panel-tag;
}
.side-panel .tags > div.selected {
    background-color: $selected;
}
.side-panel .entries {
    background-color: $selected;
}

.side-panel .entries > div {
    background-color: $panel-tag;
    color: $main;
    // box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;
    -webkit-box-shadow: 5px 5px 5px 5px black initial;
    box-shadow: 5px 5px 5px 5px black;
    border-radius: 25px;
}

.side-panel .entries > div:hover {
    background-color: $hover;
    color: $main;
    box-shadow: 0px 0px 0px 0px transparent;
    border-radius: 25px;
}


.editable:empty:before {
    color: $before-text-color;
}

.side-panel .active.tag {
    background-color: $selected;
}

//loader from w3Schools tutorial - https://www.w3schools.com/howto/howto_css_loader.asp
.loader {
    border-color: #f3f3f3!important;
    border-top-color: #3498db!important;
    border-bottom-color: #3498db!important;
}

.edit-tags {
    background-color: $body;
}

.edit-tags > table{

}

.edit-tags-popup {
    background-color: $side-panel;
}

.edit-tags-popup > * {
    background-color: $side-panel;
}

.edit-tags-popup .button {
    background-color: rgb(224, 206, 102);
}

.edit-tags-popup .button:hover {
    background-color: $selected;
}

.grid-container .main-container-blur  {
    background-color: $main;
}
//blur everything in .main-container-blur except edit-tags-popup
.grid-container .main-container-blur > *:not(.edit-tags-popup, .password-dialog, .dialog) {
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

//popup table close btn
.close-btn {
    color: white;
    background-color: rgb(219, 107, 107);
}

.close-btn:hover{
    background-color: rgb(226, 57, 57);
}


.table-row {
    cursor: pointer;
}

//table cells
.table-row > td {

}

.tag-searchbar {
    padding: 15px;
    background-color: white;
}

.dialog {
    background-color: $main;
}

.email {
    background-color: $body;
}

.reset-code {
    color: black;
    background-color: $body;
}

.password {
    background-color: $body;
}

.btn-login {
    background-color: $body;
}

.btn-login:hover {
    background-color: $hover;
}

.btn-forgot-password {
    width: 120px;
    height: 20px;
    cursor: pointer;
}

.btn-forgot-password:hover {
    background-color: $hover;
}