
$brilliant-blue: #29313F;
$side-panel-green: #6F7871;

//@at-root
$main : rgb(243, 236, 211);
$body : rgb(226, 215, 173);
$panel-tag : rgb(243, 236, 211); //#6F7871
$selected : rgb(129, 155, 204);
$hover : rgb(140, 161, 216);
$side-panel: rgb(113, 120, 113);


.grid-container {
    display: grid;
    grid-template-columns: 100px 800px;
    height: 560px;
}

.grid-container .nav {
    grid-column: 1;
    background-color: $brilliant-blue;
}

.nav-btn {
    margin: auto;
    padding-top: 20px;
}

.nav-btn:hover {
    background-color: $selected;
}

.nav-btn > img {
    height: 50px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.grid-container .main-container {
    grid-column: 2;
    display: grid;
    grid-template-columns: 50px 320px auto 50px 100px 20px;//6 columns
    grid-template-rows: 50px 50px 20px 50px 20px auto 20px;//7 rows
    background-color: $main;
}

.main-container .heading {
    grid-column: 2 / span 2;
    grid-row: 1;
}

.main-container .messageDiv {
    grid-column: 2 / span 2;
    grid-row: 1;
    color: $selected;
}

.main-container .buttons {
    grid-column: 2 / span 2;
    grid-row: 2;
    padding-top: 20px;
    // background-color: $body;
}

.main-container .buttons > div {
    display: inline;
    background-color: $body;
    padding: 10px;
    cursor: pointer;
}

.main-container .buttons > div:hover {
   background-color: $hover;
}

.main-container .entry-title {
    grid-column: 2 / span 2;
    grid-row: 4;
    background-color: $body;
}

.main-container .entry-body {
    grid-column: 2 /span 2;
    grid-row: 6;
    background-color: $body;
}

.main-container .entry-tags {
    grid-column: 5;
    grid-row: 4 / span 3;
    background-color: $body;
}
.main-container .entry-tags > div {
    text-align: center;
    padding: 10px;
    margin: auto;
    margin: 10px;
    background-color: $panel-tag;
}

.main-container .side-panel {
    grid-column: 1 / span 2;
    grid-row: 1 / span 7;
    background-color: $side-panel-green;
    display: none;
    grid-template-columns: 130px auto;
    z-index: 1;
}

.main-container .side-panel .tags > div {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: $panel-tag;
    z-index: 1;
    cursor: pointer;
}
.main-container .side-panel .tags > div.selected {
    background-color: $selected;
}
.main-container .side-panel .entries {
    grid-column: 2;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: $selected;
    overflow-y: scroll;
}

.main-container .side-panel .entries > div {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    background-color: $panel-tag;
    z-index: 1;
    cursor: pointer;
}

.editable:empty:before {
    content: attr(data-placeholder);
    color: rgb(109, 109, 109);
}


.main-container .side-panel .active.tag {
    background-color: $selected;
}


//loader from w3Schools tutorial - https://www.w3schools.com/howto/howto_css_loader.asp
.loader {
    grid-column: 2 / span 2;
    grid-row: 3;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    border-bottom: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    z-index: 3;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  .edit-tags-popup {
      display: none;
      grid-column: 2 / span 2;
      grid-row: 5;
      background-color: $side-panel;
      z-index: 3;
  }

  .edit-tags-popup > * {
    background-color: $side-panel;
}