<div id="email-password-dialog" class="dialog email-password-dialog">

    <label for="email">Email</label>
    <div id="email" class="editable email" contenteditable="true" data-placeholder="your_email@email.com"></div>

    <label for="password1">Password</label>
    <div id="password1" class="editable password" contenteditable="true" data-placeholder="SomethingCool!@2ForExample"></div>
   
    <label for="password2">Please re-enter your password</label>
    <div id="password2" class="editable password" contenteditable="true" data-placeholder="SomethingCool!@2ForExample"></div>

    <label for="p-checkbox">Display password</label>
    <input type="checkbox" id="p-checkbox">
    <div id="register" class="button">Register</div>
    <script>//for checkbox hide and display password
       var p1 = document.querySelector('#password1')
       var p2 = document.querySelector('#password2')
       var p_checkbox = document.querySelector('#p-checkbox')
       p_checkbox.input = () => {
         console.log('p-checkbox clicked')
        //show password
         if (p_checkbox.checked) {
            p1.classList.remove('password')
            p2.classList.remove('password')
         }
         //hide password
         else {
            p1.classList.add('password')
            p2.classList.add('password')
         }
       }
    </script>
</div>