<div id="email-password-dialog" class="dialog">

    <div id="email" class="editable email" contenteditable="true"></div>
    <div id="password1" class="editable password" contenteditable="true" data-placeholder="SomethingCool!@2ForExample"></div>
    
    <div id="password2" class="editable password" contenteditable="true" data-placeholder="SomethingCool!@2ForExmaple"></div>

    <input type="checkbox" id="p-checkbox">
    <div id="register" class="button">Register</div>
    <script>//for checkbox hide and display password
        var checkbox  = document.querySelector('#p-checkbox')
        var p1 = document.querySelector('#password1')
        var p2 = document.querySelector('#password2')
        checkbox.onchange = togglePasswordVisibility

        function togglePasswordVisibility()
        {
            //if checked = uncheck
            if(checkbox.checked) 
            {
                checkbox.checked = false
                hidePassword()
            }
            else 
            {
                checkbox.checked = true
                showPassword()
            }
        }

        function hidePassword()
        {
            p1.classList.add('password')
            p2.classList.add('password')
        }

        function showPassword()
        {
            p1.classList.remove('password')
            p2.classList.remove('password')
        }
    </script>
</div>