<div id="email-password-dialog" class="dialog">

    <div id="email" class="editable email" contenteditable="true" data-placeholder="your_email@email.com"></div>
    <div id="password1" class="editable password" contenteditable="true" data-placeholder="SomethingCool!@2ForExample"></div>
    
    <div id="password2" class="editable password" contenteditable="true" data-placeholder="SomethingCool!@2ForExample"></div>

    <input type="checkbox" id="p-checkbox">
    <div id="register" class="button">Register</div>
    <script>//for checkbox hide and display password
       
    </script>
</div>