<div id="nav" class="nav">
            
    <div id="btn-tags" class="nav-btn">
        <img src="../img/icons/folder.svg" alt="folder button" class="btn">
    </div>
    <div id="btn-edit-tags" class="nav-btn">
        <img src="../img/icons/iconmonstr-folder-4.svg" alt="entry button" class="btn">
    </div>
    <div id="btn-add-entry" class="nav-btn">
        <img src="../img/icons/add-file.svg" alt="add entry button" class="btn">
    </div>
    <div id="btn-export" class="nav-btn">
        <img src="../img/icons/export.svg" alt="export button" class="btn">
    </div>
    <div id="btn-settings" class="nav-btn">
        <img src="../img/icons/settings-3.svg" alt="settings button" class="btn">
    </div>
</div>
<script type="module" src="../js/view/bundle/nav.bundle.js" defer></script>