<div id="password-dialog" class="password-dialog">
    <div id="password1" type="password" class="editable password" contenteditable="true" data-placeholder="SomethingCool!@2ForExample"></div>
    
    <div id="password2" type="password" class="editable password" contenteditable="true" data-placeholder="SomethingCool!@2ForExmaple"></div>

    <input type="checkbox" id="p-checkbox">
    <div id="register" class="button">Register</div>
    <script>
        var checkbox  = document.querySelector('#p-checkbox')
        var p1 = document.querySelector('#password1')
        var p2 = document.querySelector('#password2')
        checkbox.onchange = togglePasswordVisibility

        function togglePasswordVisibility()
        {
            //if checked = uncheck
            if(checkbox.checked) 
            {
                checkbox.checked = false
                hidePassword()
            }
            else 
            {
                checkbox.checked = true
                showPassword()
            }
        }

        function hidePassword()
        {
            p1.setAttribute('type','password')
            p2.setAttribute('type','password')
        }

        function showPassword()
        {
            p1.setAttribute('type','text')
            p2.setAttribute('type','text')
        }
    </script>
</div>