<!-- Tags Popup -->
<div id="add-tags-popup" class="edit-tags-popup">
    <div id="close-btn" class="close-btn">X</div>
    <div id="add-selected-tags" class="button">Add Selected Tags</div>
    <div id="remove-selected-tags" class="button">Remove Selected Tags</div>
    <div id="tag-searchbar"></div>
    <table>
        <thead>
            <th>Tag Name</th>
            <th>Number of Entries</th>
            <th>Creation Date</th>
        </thead>
        <tbody id="tag-table-body">

        </tbody>
    </table>
</div>