#System files
.DS_Store
node_modules

# JSON entry files
tagDirs/all
tagDirs/

#New JS files - converting project to TS
js/
#FontAwesome
external/fontawesome-free-5.15.1-web/
*.code-workspace

#CSS files
css/
