$light-limey-green: rgb(190, 202, 192);
$side-panel-gray: #6F7871;

//@at-root
$main : rgb(72, 74, 78);
$body : rgb(190, 202, 192);//also used for buttons
$panel-tag : rgb(243, 236, 211); //#6F7871
$selected : $main;//used for nav hover
$hover : rgb(135, 170, 140);;//must not be body color
$side-panel : rgb(111, 115, 120);
$before-text-color: rgb(109, 109, 109);
.password-dialog {
    background-color: $side-panel;
    width: 500px;
    height: 300px;
    display: grid;
}

.password1 {
    text-align: center;
    background-color: $body;
}

.password2 {
    text-align: center;
    background-color: $body;
}
